In [63]:
#Q1
print("Q1")
a=input("Enter any string- ")
b=a[::-1]
print(b)

Q1
Enter any string- this python assignment is long
gnol si tnemngissa nohtyp siht

In [64]:
#Q2
print("Q2")
m=int(input("Decide range of function- "))
n=int(input("Decide divisor- " ))
for i in range(1,m):
  if i%n==0:
    print(i," is divisible by ",n)
  else:
    print(i," is not divisible by ",n)

Q2
Decide range of function- 43
Decide divisor- 7
1  is not divisible by  7
2  is not divisible by  7
3  is not divisible by  7
4  is not divisible by  7
5  is not divisible by  7
6  is not divisible by  7
7  is divisible by  7
8  is not divisible by  7
9  is not divisible by  7
10  is not divisible by  7
11  is not divisible by  7
12  is not divisible by  7
13  is not divisible by  7
14  is divisible by  7
15  is not divisible by  7
16  is not divisible by  7
17  is not divisible by  7
18  is not divisible by  7
19  is not divisible by  7
20  is not divisible by  7
21  is divisible by  7
22  is not divisible by  7
23  is not divisible by  7
24  is not divisible by  7
25  is not divisible by  7
26  is not divisible by  7
27  is not divisible by  7
28  is divisible by  7
29  is not divisible by  7
30  is not divisible by  7
31  is not divisible by  7
32  is not divisible by  7
33  is not divisible by  7
34  is not divisible by  7
35  is divisible by  7
36  is not divisible by  7
37  is not divisible by  7
38  is not divisible by  7
39  is not divisible by  7
40  is not divisible by  7
41  is not divisible by  7
42  is divisible by  7

In [65]:
#Q3
print("Q3")
a=int(input("Enter first side- "))
b=int(input("Enter second side- "))
c=int(input("Enter third side- "))
s=(a+b+c)/2
m=(s*(s-b)*(s-a)*(s-c))
x=(m)**(1/2)
#As in a triangle sum of two sides is always greater than the third side
if(a+b<c or a+c<b or b+c<a):
  print("These three side dont form a triangle")
elif(a==0 or b==0 or c==0):
  print("A side of a triangle can't be 0")
else:
  print("Area of the triangle is ",x," sq. units")

Q3
Enter first side- 6
Enter second side- 8
Enter third side- 10
Area of the triangle is  24.0  sq. units

In [66]:
#Q4
print("Q4")
for i in range (1,6):
  for j in range (0,i):
    print("*",end='')
  print()
for i in range(0,5):
   j=4-i
   while j>0:
     print("*", end='')
     j=j-1
   print()

Q4
*
**
***
****
*****
****
***
**
*

In [67]:
#Q5
print("Q5")
a1='ABCDEFGHIJKLMNOPQRSTUVWXYZ'
a=a1
n= int(input("enter the number: "))
for i in range(1,n+1):
    if len(a)<i:
        a=a+a1
    for j in range(0,i):
        print(a[j], end='')
        
    print()
    
    a=a[i:]

Q5
enter the number: 7
A
BC
DEF
GHIJ
KLMNO
PQRSTU
VWXYZAB

In [68]:
#Q6
print("Q6")
lower_value=int(input("Enter the lower value of range: "))
upper_value=int(input("Enter the upper value of range: "))

for number in range(lower_value,upper_value+1):   # +1 for including the upper limit as well
  if number>1:
    for i in range (2,number):
      if number%i ==0:
        break
    else:
      print(number)

Q6
Enter the lower value of range: 2
Enter the upper value of range: 12
2
3
5
7
11

In [69]:
#Q7
print("Q7")
for i in range (1,500):
 if i%77==0:
   print(i)

Q7
77
154
231
308
385
462

In [78]:
#Q8
print("Q8")
n= input ("Enter a list of integers:")
int_list = n.split(',')
print(int_list)

#part (a)
print ("Positive numbers are:")
for i in int_list:
 j= int(i)
 if j > 0:
  print (j)
  j=j+1

#part (b)
print ("Negative numbers are")
for i in int_list:
 j= int(i)
 if j < 0:
  print (j)
  j=j+1

#part (c)
print ("Odd numbers are:")
for i in int_list:
 j= int(i)
 if j %2 !=0:
  print (j)
  j= j+1

#part (d)
print ("Even numbers are:")
for j in int_list:
 j= int(j)
 if j %2==0:
  print (j)
  j= j+11

#part(e)
for i in int_list:
 g=0
 n=0
 if(i=='---'):
   continue

 for j in int_list:
   if i==j:
    n=n+1
    int_list[g]='----'
   g = g + 1  
 print ( "Number of times", i,"occured : ",n)

Q8
Enter a list of integers:1,1,1,1
['1', '1', '1', '1']
Positive numbers are:
1
1
1
1
Negative numbers are
Odd numbers are:
1
1
1
1
Even numbers are:
Number of times 1 occured :  4
Number of times ---- occured :  4
Number of times ---- occured :  4
Number of times ---- occured :  4

In [74]:
 #Q9
 print("Q9")
 words=input("Enter a list of words: ")
 list = words.split()
 print (list)

 for i in list:
  g=0
  n=0
  if (i=='----'):
   continue
  
  for j in list:
   if i==j:
    n=n+1
    list[g]='----'
   g = g+1
  print ("Number of times",i,"occured :",n)

Q9
Enter a list of words: hello hello
['hello', 'hello']
Number of times hello occured : 2