In [2]:
#Q1
a=int(input("Enter any integer here"))
b=bin(a)
#As we have to exclude unwanted "0b" part
print(b[2::])

Enter any integer here69
1000101

In [3]:
#Q2
n = input("Enter the expression ")
print(eval(n))

Enter the expression 8*2
16

In [4]:
#Q3
import math as mt

n = int(input("Enter the number n: "))
r = int(input("Enter the number r: "))
a = int(input("Enter the angle a: "))
b = int(input("Enter the angle b: "))

x1 = int(input("Enter the number x1: "))
x2 = int(input("Enter the number x2: "))

y1 = int(input("Enter the number y1: "))
y2 = int(input("Enter the number y2: "))

print("(3+4)(5) = ", (3+4)*5)
print("n(n-1)/2 = ", (n*(n-1)/1))
print("4(pi)r^2 = ", 4*mt.pi*(r^2) )
print("sqrt(r(cosa)^2 + r(sinb)^2) = ", ((r*((mt.cos(a))**2)) + (r*((mt.sin(b))**2)))**(0.5))
if x2 == x1:
    print("NOT DEFINED")
else: 
    print("y2-y1/x2-x1 = ", (y2 - y1)/(x2 - x1))

Enter the number n: 12
Enter the number r: 3
Enter the angle a: 45
Enter the angle b: 60
Enter the number x1: 2
Enter the number x2: 4
Enter the number y1: 89
Enter the number y2: 123
(3+4)(5) =  35
n(n-1)/2 =  132.0
4(pi)r^2 =  12.566370614359172
sqrt(r(cosa)^2 + r(sinb)^2) =  1.051959181725414
y2-y1/x2-x1 =  17.0

In [6]:
#Q4

print("In the range(5)")
for i in range(5):
    print(i)

print(" ")
print("In the range(3, 10)")
for i in range(3, 10):
    print(i) 

print(" ")
print("In the range(4 ,13, 3)")
for i in range(4 ,13, 3):
    print(i) 

print(" ")
print("In the range(15, 5, -2)")
for i in range(15, 5, -2):
    print(i) 

print(" ")
print("In the range(5, 3)")
for i in range(5, 3):
    print(i)

In the range(5)
0
1
2
3
4

In the range(3, 10)
3
4
5
6
7
8
9

In the range(4 ,13, 3)
4
7
10

In the range(15, 5, -2)
15
13
11
9
7

In the range(5, 3)

In [7]:
#Q5
h = int(input("Enter the number of hydrogen atoms: "))
c = int(input("Enter the number of carbon atoms: "))
o = int(input("Enter the number of oxygen atoms: "))

wt_h = h*1.00794
wt_c = c*12.0107
wt_o = o*15.99994

print(wt_h + wt_o + wt_c)

Enter the number of hydrogen atoms: 12
Enter the number of carbon atoms: 6
Enter the number of oxygen atoms: 6
180.15912